*.o
*.exe
*.app
*.swp
tags
SpikeRecorder
SpikeRecorder.zip
SpikeRecorder.dSYM
.DS_Store
.Trashes
*.swp
*.lock
*~.nib
DerivedData/
build/
!win/build
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3
xcuserdata

*.xccheckout
win/build/byb.log
win/build/byb.log
win/build/byb.log
win/build/byb.log
/win/manual-installation/obj
